<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
 <th:block th:include="fragments/headerlibs.html :: headerlibs"></th:block> 

<body class="home-bg hold-transition sidebar-mini layout-fixed" onload="getVitalTestMasterData()">
  <div class="wrapper">
     <!-- Navbar -->

	 <header th:insert="fragments/header.html :: header"> </header>
   
     <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a th:href="@{/registration}" class="brand-link">
        <img class="img-fluid" src="images/national-health-authority-logo.png" alt="" style="width: 100px;">
      </a>
       <!-- Sidebar -->
     
      <header th:insert="fragments/sidenav.html :: sidevav"> </header>
     
      <!-- /.sidebar -->
    </aside>

    <div class="content-wrapper">
      <section class="content pt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card card-info direct-chat">
                <div class="card-header py-1 px-3">
                  <h3 class="card-title">Add Vital Test Master</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <form class="quickForm" id="vitalTestMaster">
                <div class="card-body" style="display: block;">
                  <div class="row pt-2 pb-1 px-2">
                  
                    <div class="col-12 col-md-4">
                      <div class="form-group custom-form">
                        <label for="">TestDetails</label> 
                        <input type="text" class="form-control" id="testDetails" name="testdetails" placeholder="Test Details" >
                         <div class="error" id="testDetailsError" ></div> 
                      </div>
                    </div>
                     <div class="col-12 col-md-4">
                      <div class="form-group custom-form">
                        <label for="">InputType</label>
                        <input type="text" class="form-control" id="inputType" name="inputtype" placeholder="Input Type" >
                     	 <div class="error" id="inputTypeError" ></div> 
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="form-group custom-form">
                        <label for="">MaxValue</label>
                        <input type="text" class="form-control" id="maxValue" name="maxvalue" placeholder="Max Value" >
                        <div class="error" id="maxValueError" ></div> 
                      </div>
                    </div>
                     <div class="col-12 col-md-4">
                      <div class="form-group custom-form">
                        <label for="">MinValue</label>
                        <input type="text" class="form-control" id="minValue" name="minvalue" placeholder="Min Value" >
                        <div class="error" id="minValueError" ></div> 
                      </div>
                    </div>
                     <div class="col-12 col-md-4">
                      <div class="form-group custom-form">
                        <label for="">Format</label>
                        <input type="text" class="form-control" id="format" name="format" placeholder="Format" >
                        <div class="error" id="formatError" ></div> 
                      </div>
                    </div>
                    
                      <div class="col-12 col-md-4">
                      <div class="form-group custom-form">
                        <label for="">Measurment</label>
                        <input type="text" class="form-control" id="measurment" name="measurment" placeholder="Measurment" >
                        <div class="error" id="measurmentError" ></div> 
                      </div>
                    </div>
                    
                     <div class="col-12 col-md-4">
                      <div class="form-group custom-form">
                        <label for="">ReportMatchingContents</label>
                         <textarea class="form-control" style="border-radius: .25rem;" id="reportMatchingContents" name="reportmatchingcontents" placeholder="Report Matching Contents" ></textarea>
                        <div class="error" id="reportMatchingContentsError" ></div> 
                      </div>
                    </div>
                     
                      <div id="register" class="overlay_full" onclick="offRegister()">
	                      <div class="fancy-spinner">
				                <div class="ring"></div>
				                <div class="ring"></div>
				                <div class="dot"></div>
				                <span></span>
				           </div>
                      </div>
                      
                    <!-- success error div -->
		             <div id="succmsgdiv" style="display:none" class="col-12 col-sm-8 col-md-6 mx-auto py-2 mb-4 alert alert-success text-center">
			        	<span id="succmsg"></span>   
			        </div>
			        
			        <div id="failmsgDiv" style="display:none" class="col-12 col-sm-8 col-md-6 mx-auto py-2 mb-4 alert alert-danger text-center">
			        	<span id="failmsg"></span>
			        </div>
                      
                      <!-- success error div -->
                      
                    <div class="col-12 text-center my-2"> 
                       <button type="button" class="btn btn-primary custom-btn" onclick="saveVitalTestMaster()" >Submit</button>
                    </div>
                  </div>     
                  
                </div>
               
               </form>
               
              </div>

              <div class="card card-info direct-chat">
                <div class="card-header py-1 px-3">
                  <h3 class="card-title">Vital Test Details</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                
                <div class="card-body" style="display: block;">
                  <div class="row pt-2 pb-1 px-2">
                    <div class="col-12">
                      <table id="vitalMasterData" class="table table-striped">
                        <thead>
                        <tr>
                          <th style="width: 50px;">Sr. No.</th>
                          <th>TestDetails</th>
                          <th>InputType</th>
                          <th>MaxValue</th>     
                          <th>MinValue</th>
                          <th>Format</th>    
                          <th>Measurment</th>    
                          <th>ReportMatchingContents</th>     
                                              
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>


  </div>

 <!-- <div th:replace="fragments/footer.html :: footer"></div>-->
    
 <div th:replace="fragments/footerlibs.html :: footerlibs"> </div>
   
 <script src="tms-js/save-master-data.js" ></script> 
 
 <script>
   	function onRegister() {
		  document.getElementById("register").style.display = "flex";
		}
		
		function offRegister() {
		  document.getElementById("register").style.display = "none";
		}
	</script>
   
</body>

</html>